{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Fund</h3>

<!--Adapted from Materialize-->
<div class="row">
	<form class="col s12">
	
	
		<div class="row">
			<div class="input-field col s12">
				<input id="fund name" type="text" class="validate">
				<label for="fund name">Fund Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="fund number" type="number" class="validate">
				<label for="fund number">Account Number </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="owner" type="text" class="validate">
				<label for="owner">Client Owner</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="first cover" type="text" class="validate">
				<label for="first cover">First Cover</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="second cover" type="text" class="validate">
				<label for="second cover">Second Cover</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="third cover" type="text" class="validate">
				<label for="third cover">Third Cover</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="contingency" type="text" class="validate">
				<label for="contingency">Contingency</label>
			</div>
		</div>

    <div class="row">
			<div class="input-field col s12">
				<input id="deadline" type="time" class="validate">
				<label for="deadline">Deadline</label>
			</div>
		</div>

        
<div class="row">
    <div class="input-field col s12">
    <select>
      <option value="">Choose your option</option>
      <option value="1">Ireland</option>
      <option value="2">US</option>
      <option value="3">UK</option>
    </select>
    <label>Holidays Followed</label>
  </div>
</div>

	</form>
</div>




{% endblock %}