{% extends "base.html" %}
{% block content %}




	<div class="row">
		<div class="col s6 offset-s3 center-align">
			<strong><label for="datepicker"> Choose Date</label></strong>
			<input type="text" class="datepicker center-align" name="datepicker" input id="datepicker">
	
	
	
			</div>
		</div>

<div class="container">
	<ul class="collapsible">
		{% for fund in rota %}
		<li>


			<div class="collapsible-header"><strong>Client: {{ fund.client }}.    Reviewer:    {{ fund.owner }}.

				Deadline:    {{ fund.deadline }}.</strong>
			

				<a href="{{ url_for('edit_fund', client_coverage_id=fund._id) }}"
					><i class="material-icons left">edit</i></a>

</div>




				<div class="collapsible-body">
					<span>Client Coverage: {{ fund.owner }}, {{ fund.first_cover }}, {{ fund.second_cover }}, {{ fund.third_cover }}</span><br>
					<span>Hols: UK</span>
				</div>
			
		</li>



		{% endfor %}

	</ul>
</div>
{% endblock %}